*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: auto;
  width: 100vw;
  background-color: rgb(38, 37, 37);
  position: relative;
  
}
.main{
  color: #fff;
  margin: auto 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}