.product{
    border: 1px solid #fff;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: auto;
    width: 400px;
    padding: 10px 30px;
}

.productImage{
    height:70% ;
    width: 40%;
    overflow: hidden;

}
.productText{
    padding-left: 20px;
}
.productImage img{
    height: 100%;
    width: 100%;
    background-size:cover;
    opacity: .9;   
}
.productImage img:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: all .5s ease;
}
p{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    padding-bottom: 10px;
}
button{
    padding: 5px 30px;
    border: none;
    border-radius: 20px;
    background-color: rgba(217, 156, 0, 0.847);
    color: #fff;
    font-weight: 600;
}